

body {
    color: white;
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(images/forest.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    height: 90%;
    width: 100%;   
    display: flex;
    justify-content: space-between;
   
   
}
header {
    height: 10%;
    width:100%;
}
h1 {
    
    text-align: center;
}

#sidebar {
    width: 20%;
    margin-left: 1rem;
    /* border: solid yellow 1px; */
}

#date {
    font-weight:bold;
}

#currentWeather {
    font-size: medium;
    font-weight: 600;
     display: flex;     
    flex-direction: column;     
    align-items: flex-end;    
    max-height: 33%;
    width:40%;
    margin-right: 3rem;
}

.weatherFields {
    font-weight: 600;
    display: flex;
}

.weatherFields img {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    margin-top: 8px;
}

#locationName {
    font-size:xx-large;
}

#weatherName {
    font-size: large;
}

#forecastDiv {
    width: 100%;
    height: 20%;
    display: flex;
    
}