

body {
    color: white;
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/forest.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    font-family: 'Kanit', sans-serif;
}

main {
    height: 90%;
    width: 100%;   
    display: flex;
    justify-content: space-between;
   
   
}
header {
    height: 10%;
    width:100%;
}
h1 {
    
    text-align: center;
}

#sidebar {
    width: 20%;
    margin-left: 1rem;
    /* border: solid yellow 1px; */
}

form {
    display: flex;
    align-items: center;
}

form img {
    height: 1.5rem;
    width: 1.5rem;
    
}

#date {
    font-weight:bold;
}

#currentWeather {
    font-size: medium;
    font-weight: 600;
    display: flex;    
    justify-content: flex-end;       
    max-height: 33%;
    width:40%;
    margin-right: 3rem;
    
}

#currentTemp {
    font-size: 3.5rem;
    margin: 0 0 0 0;
}

input {
    background-color: rgba(255, 255, 255, 0.01);
    border:none;
    border-bottom: 1px solid #fff;
    color: white;
    font-size: medium;
    font-family: 'Kanit', sans-serif;
    margin-right: 0.5rem;
    
}


.weatherFields {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.weatherFieldsLeft {
    margin-top: 0.5rem;
}

.weatherFields p {
    margin-bottom: 0;
    text-align: center;
}

.icons-right {
    height: 2.4rem;
    width: 2.4rem;
    margin-right: 1rem;
    margin-top: 3.4rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.stat-title {
    font-size: small;
}

.stat-value {
    font-size: medium;
}

#locationName {
    font-size:xx-large;
}

#weatherName {
    font-size: large;
}

h2 {
    font-size:xx-large;
    margin-top: 4rem;
    margin-right: auto;
    margin-left: 17rem;
}

#forecastDiv {
    width: 70%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    text-align: center;
}

#date {
    font-size:larger;
}

#temp-high {
    font-size: x-large;
    font-weight: 600;
}

#temp-low {
    font-size:medium;
}